#!/bin/bash

su - ubuntu << EOF

echo "cloning repo with Wordpress Playbook"
git clone https://github.com/cloudbrex/wpstack.git /tmp/app 2>&1

echo "install the dependent roles and collections"
cd /tmp/app
ansible-galaxy install -r requirements.yml 

echo "run ansible-playbook"
cd /tmp/app
ansible-playbook -i inventory setup.yml -b  2>&1

exit 0

EOF
